.header-placeholder .navbar .navbar-inner .header-navigation .header-menu .submenulist.last-child { background:none!important; }

div#searchMenuId {
    display: none;
}
.mobile-box {
    display: none!important;
}
.dark-menu-group {
    display: none!important;
}
.hamburger-menu {
  display: none!important;
}
i.icon.ico-help2{
  display: none!important;
}
button.btn.btn-primary{
  display: none!important;
}